.container {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    font-family:"Monospace";
}
.project_header {
    a:link {
        text-decoration: none;
        color: DimGray;
    }
    a:hover {
        color: CadetBlue;
    }   
}
